<p>home works!</p>

<table class="table -table-tennis">
  <thead class="table-primary ">
  <td> First name</td>
  <td> last name</td>
  <td> Email</td>
  <td> Cne</td>
  <td> Adresse</td>
  <td> AnneeBac</td>
  <td> ParcoursDesiree</td>
  <td> OptionParcours</td>
  <td> Sexe</td>
  </thead>
  <tbody>
  <tr>
    <td colspan="10">
      <table class="table mb-0">
        <tr *ngFor="let user of students">
          <td>  {{user.firstName}} </td>
          <td> {{user.lastName}} </td>
          <td> {{user.email}} </td>
          <td> {{user.cne}} </td>
          <td> {{user.adresse}} </td>
          <td> {{user.anneeBac}} </td>
          <td> {{user.parcoursDesiree}} </td>
          <td> {{user.optionParcours}} </td>
          <td> {{user.sexe }} </td>


          <button type="button" (click)="updateUser(user.id)" class="btn btn-info btn-rounded">Update user</button>
          <button type="button" (click)="deleteOneUser(user.id)" class="btn btn-danger btn-rounded">Delete user</button>

        </tr>


      </table>
    </td>
  </tr>

  </tbody>
  <button type="button" class="btn btn-info btn-rounded"
          (click)="navigateToUserType('student')">Add student
  </button>
</table>


<br>
<!-- Professor table -->

<table class="table -table-tennis">
  <thead class="table-primary ">
  <td> First name</td>
  <td> last name</td>
  <td> Phone</td>
  <td> Email</td>
  </thead>
  <tbody>
  <tr>
    <td colspan="4">
      <table class="table mb-0">

        <tr *ngFor="let user of professors">
          <td>  {{user.firstName}} </td>

          <td> {{user.lastName}} </td>
          <td> {{user.email}} </td>
          <td> {{user.phone}} </td>
          <td> {{user.userType }} </td>
          <button type="button" (click)="updateUser(user.id, 'professor')" class="btn btn-info btn-rounded"> Update
          </button>
          <button type="button" (click)="deleteOneUser(user.id)" class="btn btn-danger btn-rounded">Delete</button>

        </tr>

      </table>
    </td>
  </tr>

  </tbody>

  <button mdbBtn type="button" class="btn btn-info btn-rounded"
          (click)="navigateToUserType('professor')">Add Professor
  </button>

</table>


<div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Delete Confirmation</h4>
      </div>
      <div class="modal-body">
        Do you confirm ?
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn [outline]="true" color="primary" class="waves-light" aria-label="Close"
                (click)="deleteModal.hide()" mdbWavesEffect>Close
        </button>
        <button type="button" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect
                (click)="handleDeleteOneUser()">Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<!-- class table -->

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Fillier</th>
    <th scope="col">Niveau etude</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let class of myClasses">
    <th scope="row">{{class.id}}</th>
    <td>{{class.filliers}}</td>
    <td>{{class.niveauEtude}}</td>
    <td>
      <button type="button" (click)="updateClass(class.id)" class="btn btn-info btn-rounded">Update class</button>
      <button mdbBtn type="button" class="btn btn-danger btn-rounded" (click)="deleteClass(class.id)">delete class
      </button>
    </td>

    <!-- class Modal -->
    <div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myBasicModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="myModalLabel">Delete Confirmation</h4>
          </div>
          <div class="modal-body">
            Do you confirm ?
          </div>
          <div class="modal-footer">
            <button type="button" mdbBtn [outline]="true" color="primary" class="waves-light" aria-label="Close"
                    (click)="deleteModal.hide()" mdbWavesEffect>Close
            </button>
            <button type="button" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect (click)="sayHi()">
              Confirm
            </button>
          </div>
        </div>
      </div>
    </div>

  </tr>
  </tbody>
  <button mdbBtn type="button" class="btn btn-info btn-rounded" (click)="navigateToClass()">Add class</button>
</table>


<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">subj name</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let subj of mySubjects">
    <th scope="row">{{subj.id}}</th>
    <td>{{subj.name}}</td>
    <td>
      <button mdbBtn type="button" class="btn btn-danger btn-rounded" (click)="deleteOneSubject(subj.id)">delete
        subject|| {{subj.id}}</button>
    </td>
    <!-- class Modal -->
    <!--      <div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"-->
    <!--           aria-hidden="true">-->
    <!--        <div class="modal-dialog" role="document">-->
    <!--          <div class="modal-content">-->
    <!--            <div class="modal-header">-->
    <!--              <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">-->
    <!--                <span aria-hidden="true">×</span>-->
    <!--              </button>-->
    <!--              <h4 class="modal-title w-100" id="myModalLabel">Delete Confirmation</h4>-->
    <!--            </div>-->
    <!--            <div class="modal-body">-->
    <!--              Do you confirm ?-->
    <!--            </div>-->
    <!--            <div class="modal-footer">-->
    <!--              <button type="button" mdbBtn [outline]="true" color="primary" class="waves-light" aria-label="Close"-->
    <!--                      (click)="deleteModal.hide()" mdbWavesEffect>Close-->
    <!--              </button>-->
    <!--              <button type="button" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect (click)="sayHi()">Confirm</button>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->

  </tr>
  </tbody>
  <button mdbBtn type="button" class="btn btn-info btn-rounded" (click)="navigateToSubject()">Add subject</button>
</table>


